{
    "presets": ["es2015"],
    "plugins": [
        ["babel-plugin-transform-builtin-extend", {
            globals: ["Error", "Array"]
        }],
        ["transform-es2015-modules-commonjs-simple", { "noMangle": true }]
    ],
    "sourceMaps": true
}
